<div class="porta__menu">
  <ul class="porta__menu-navi nav-gallery">
    <li class="porta__menu-btn filter porta__menu-active" data-filter="all">Todo</li>
    <li class="porta__menu-btn filter" data-filter=".category-1">Web site</li>
    <li class="porta__menu-btn filter" data-filter=".category-2">Ecommerce</li>
    <li class="porta__menu-btn filter" data-filter=".category-3">Personal</li>
  </ul>
</div>

<div class="porta__wrap container centrar" id="Container">

  <div class="mix category-2 porta__work-box" data-myorder="2">
    <div class="porta__work-box-container">
      <a class="porta__work-box-capt porta__work-proyect" href="https://farm2.staticflickr.com/1503/25092538929_ac3de8e553_b.jpg">
        <img src="https://farm2.staticflickr.com/1503/25092538929_ac3de8e553_b.jpg" alt="">
        <div class="porta__work-box-descrip">
          <span class="icon-mundo porta__work-box-icono"></span>
          <p class="porta__work-box-ver">Ver proyecto</p>
        </div>
      </a>
      <p><span><strong>Kawaii Crepe</strong><br>Ecommerce <br>Para Crepeos </span></p>
    </div>
  </div>

  <div class="mix category-4 porta__work-box" data-myorder="4">
    <div class="porta__work-box-container">
      <a class="porta__work-box-capt" href="../assets/img/1.jpg">
        <img src="../assets/img/1.jpg" alt="">
        <div class="porta__work-box-descrip">
          <span class="icon-mundo porta__work-box-icono"></span>
          <p class="porta__work-box-ver">Ver proyecto</p>
        </div>
      </a>
      <p><span><strong>Diego Zazueta</strong><br>Web site<br>Para DZ</span></p>
    </div>
  </div>

  <div class="mix category-1 porta__work-box" data-myorder="2">
    <div class="porta__work-box-container">
      <a class="porta__work-box-capt" href="../assets/img/2.jpg">
        <img src="../assets/img/2.jpg" alt="">
        <div class="porta__work-box-descrip">
          <span class="icon-mundo porta__work-box-icono"></span>
          <p class="porta__work-box-ver">Ver proyecto</p>
        </div>
      </a>
      <p><span><strong>Gym Forza</strong><br>Web site<br>Para sistem</span></p>
    </div>
  </div>

  <div class="mix category-3 porta__work-box" data-myorder="8">
    <div class="porta__work-box-container">
      <a class="porta__work-box-capt" href="../assets/img/1.jpg">
        <img src="../assets/img/1.jpg" alt="">
        <div class="porta__work-box-descrip">
          <span class="icon-mundo porta__work-box-icono"></span>
          <p class="porta__work-box-ver">Ver proyecto</p>
        </div>
      </a>
      <p><span><strong>Factory's</strong><br>Ecommerce<br>Para factory corporation</span></p>
    </div>
  </div>

</div>

