<div id="owl-example" class="owl-carousel">
      <div class="sli slide1">
      	<article class="jumbo__body">
      		<p class="jumbo__antetitulo antetitulo">Diego Zazueta</p>
      		<h3 class="jumbo__titulo titulo">
      			Desarrollo web <br> Diseño
      		</h3>
      		<a target="_blank" href="" class="btn-circulo">
                        <b>
                        Carpe
                        <br>
                        diem
                        </b>
                  </a>
      	</article>
      </div>

      <div class="sli slide2">
      	<article class="jumbo__body">
      		<p class="jumbo__antetitulo antetitulo">Framework css</p>
      		<h3 class="jumbo__titulo titulo">
      			<span class="title">ZURIX</span><br><span class="subtitle">Layout y diseño a la<br>velocidad luz</span> 
      		</h3>
      		
			<a target="_blank" href="https://github.com/Diegoztag/Zurix" class="btn-circulo">
				<b>
				Ver
				<br>
                        Proyecto
                        <br>
				<span class="icon-github proyecto-git"></span>
				</b>
			</a>
      	</article>
      </div>

</div>