<article class="jumbo__body">
  <p class="jumbo__antetitulo antetitulo">Diego Zazueta</p>
  <h3 class="jumbo__titulo titulo">
    <p>Desarrollo Web</p>
    <p class="separador">&</p>
    <p>Diseño</p>
  </h3>
  <span class="btn-circulo">
  <span class="icon-izquierda"></span><span>Blog</span><span class="icon-derecha"></span>
  </span>
</article>
<div class="btn-abajo"><span class="abajo icon-abajo"></span></div>
