{{!< default}}

<header class="header-principal nofix {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	{{> slider}}
</header>

<div class="wrap-post">
	{{> "loop"}}
</div>









