{{!< default}}

<header class="header-about">
</header>

<section id="sobremi">
  <div class="papa">
    <div class="hijo sobremi">
      <h3 class="sobremi__title">Acerca de Mí</h3>
      <div class="sobremi__content centro">
        <div class="sobremi__yo circulo centro tablet-izquierda"></div>
        <p class="sobremi__descripcion base-85 movil-80 tablet-70 centro">Hola! Mi nombre es Diego Zazueta, soy Ingeniero en Sistemas originario de Culiacán, Sinaloa, (México), además de programador, webmaster, diseñador, desarrollador de páginas y sistemas web, autodidacta por convicción y geek de nacimiento. <br><br>
        Mi trabajo se enfoca hacia las tecnologías para la web. Soy un apasionado en su desarrollo, tanto desktop como mobile, más centrado en la parte Front-End (HTML5, CSS3, JS, Responsive Design) tanto en desarrollo como diseño, pero me gusta trastear también con el Back-End. En mis tiempos libres me gusta practicar basketball y tocar música ya sea con mi guitarra o en la batería.
      </p>
      </div>
      
    </div>
  </div>
</section>

<section id="habilidades">
  <div class="papa habilidades">
    <div class="hijo habilidades__content web-100">
      <h3 class="habilidades__titulo">Habilidades</h3>
      <h5 class="habilidades__subtitulo">Un poco de estadística</h5>

      <div class="habilidades__wrap centrar">
        <div class="habilidades__wrap__content">
          <span class="habilidades__wrap__icono icon-code"></span>
          <p class="habilidades__wrap__titulo">Frontend</p>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <ul class="habilidades__wrap__ul">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Responsive design</li>
            <li>Jquery</li>
            <li>Angular</li>
            <li>Sass</li>
            <li>Jade</li>
          </ul>
        </div>
        <div class="habilidades__wrap__content">
          <span class="habilidades__wrap__icono icon-terminal"></span>
          <p class="habilidades__wrap__titulo">Backend</p>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <ul class="habilidades__wrap__ul">
            <li>PHP</li>
            {{!-- <li>NodeJs</li> --}}
          </ul>
        </div>
        <div class="habilidades__wrap__content">
          <span class="habilidades__wrap__icono icon-cell"></span>
          <p class="habilidades__wrap__titulo">Diseño UI/UX</p>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          {{!-- <span class="habilidades__wrap__star icon-estrella"></span> --}}
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <ul class="habilidades__wrap__ul">
            <li>Photoshop</li>
            {{!-- <li>Ilustrator</li> --}}
          </ul>
        </div>
        <div class="habilidades__wrap__content">
          <span class="habilidades__wrap__icono icon-basedatos"></span>
          <p class="habilidades__wrap__titulo">Base de datos</p>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <ul class="habilidades__wrap__ul">
            <li>Mysql</li>
            <li>Postgres</li>
            <li>MongoDB</li>
            {{!-- <li>Sql-server</li> --}}
          </ul>
        </div>
        <div class="habilidades__wrap__content">
          <span class="habilidades__wrap__icono icon-monitor"></span>
          <p class="habilidades__wrap__titulo">Otros</p>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star icon-estrella"></span>
          <span class="habilidades__wrap__star habilidades__wrap__star-none icon-estrella"></span>
          <ul class="habilidades__wrap__ul">
            <li>CMS</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="formacion">
  <div class="papa formacion">
    <div class="hijo formacion__hijo">

      <h3 class="formacion__item formacion__titulo">
        Formación
      </h3>
      <h5 class="formacion__item formacion__subtitulo">
        {{!-- La mas alta capacitación profesional --}}
      </h5>
      <div class="formacion__wrap justificar centro web-90">
        <div class="formacion__content tablet-1-3">
          <span class="icon-estudio formacion__content-item formacion__icono"></span>
          <span class="formacion__content-item formacion__content-titulo">Ingeniero en Sistemas</span>
          <span class="formacion__content-item formacion__text">Ingeniero en Sistemas con especialidad en Dirección de negocios por la Universidad del desarrollo profesional (UNIDEP)</span>
        </div>

        <div class="formacion__content tablet-1-3">
          <span class="icon-chat formacion__content-item formacion__icono"></span>
          <span class="formacion__content-item formacion__content-titulo">
          Autodidacta</span>
          <span class="formacion__content-item formacion__text">
          Siempre es bueno buscar maneras de superarse reinventarse, por eso siempre busco la manera de aprender cosas nuevas cada día.
          {{!-- Cursos y certificación en Inglés técnico con experiencia profesional y bases de Portugués. Español nativo. --}}</span>
        </div>

        <div class="formacion__content tablet-1-3">
          <span class="icon-cv formacion__content-item formacion__icono"></span>
          <span class="formacion__content-item formacion__content-titulo">Certificaciones</span>
          <span class="formacion__content-item formacion__text">Documentos que avalan los conocimientos que poseo y aplico en los proyectos tanto personales como comerciales.</span>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="portafolio">
  <div class="papa no-padding porta">

      <h3 class="porta__item porta__title centrar">Portafolio</h3>
      <p class="porta__item porta__descripcion base-90">Esta es una pequeña selección de mis últimos trabajos. <br> Tomate tu tiempo curioseando o puedes echar un vistazo rápido, como prefieras.</p>
      <div class="porta__galeria web-90 justificar">
          {{> portafolio}}
      </div>
  </div>
</section>

<section id="certificaciones">
  <div class="papa certi">
    <div class="hijo certi__hijo">
      
      <h3 class="certi__item certi__title centrar">Certificaciones</h3>
      <p class="certi__item certi__descripcion">Documentos que respaldan algunos de mis conocimientos.</p>

    </div>
  </div>
</section>

<section id="social">
  <div class="papa no-padding social">
    <h3 class="social__title">Redes Sociales</h3>
    <div class="hijo social__content tablet-85 web-75">
      <a href="https://twitter.com/Diegoztag" target="_blank" class="social__item icon-twitter twi">Twitter</a>
      <a href="https://www.facebook.com/diegoztag" target="_blank" class="social__item icon-facebook face">Facebook</a>
      <a href="https://www.linkedin.com/in/diegozazueta" target="_blank" class="social__item icon-linkedin link">Linkedin</a>
      <a href="https://github.com/Diegoztag" target="_blank" class="social__item icon-github git">Github</a>
    </div>
  </div>
</section>